In [1]:
!pip install --force-reinstall ibm_db==3.1.0 ibm_db_sa==0.3.3
!pip uninstall sqlalchemy==1.4 -y && pip install sqlalchemy==1.3.24
!pip install ipython-sql

Collecting ibm_db==3.1.0
  Downloading ibm_db-3.1.0.tar.gz (797 kB)
     ------------------------------------- 797.3/797.3 kB 12.5 MB/s eta 0:00:00
  Installing build dependencies: started
  Installing build dependencies: finished with status 'done'
  Getting requirements to build wheel: started
  Getting requirements to build wheel: finished with status 'done'
  Installing backend dependencies: started
  Installing backend dependencies: finished with status 'done'
  Preparing metadata (pyproject.toml): started
  Preparing metadata (pyproject.toml): finished with status 'done'
Collecting ibm_db_sa==0.3.3
  Downloading ibm_db_sa-0.3.3.tar.gz (24 kB)
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Collecting sqlalchemy>=0.7.3
  Downloading SQLAlchemy-2.0.5.post1-cp39-cp39-win_amd64.whl (2.0 MB)
     ---------------------------------------- 2.0/2.0 MB 31.4 MB/s eta 0:00:00
Collecting greenlet!=0.4.17
  Downloading greenlet-2.0.2-cp39-cp39-win_amd64.whl (192 kB)
     ------------------------------------- 192.1/192.1 kB 12.1 MB/s eta 0:00:00
Collecting typing-extensions>=4.2.0
  Downloading typing_extensions-4.5.0-py3-none-any.whl (27 kB)
Building wheels for collected packages: ibm_db, ibm_db_sa
  Building wheel for ibm_db (pyproject.toml): started
  Building wheel for ibm_db (pyproject.toml): finished with status 'done'
  Created wheel for ibm_db: filename=ibm_db-3.1.0-py3-none-any.whl size=27687186 sha256=b751ce300cf67dd2e50c490ee183cca6abd45def36d5b3a28f22981016f773c1
  Stored in directory: c:\users\bhaumik patel\appdata\local\pip\cache\wheels\0a\dd\10\4a9ad59949e39786d729813e4bce24ccf2263c6d60a62de2f2
  Building wheel for ibm_db_sa (setup.py): started
  Building wheel for ibm_db_sa (setup.py): finished with status 'done'
  Created wheel for ibm_db_sa: filename=ibm_db_sa-0.3.3-py3-none-any.whl size=27424 sha256=b3164df1d262917364218f58e5565f0f89a15aba0c6bcce2e22472472806ffee
  Stored in directory: c:\users\bhaumik patel\appdata\local\pip\cache\wheels\8f\98\0c\930c68279890092297e12d4cc20e95613ddab15af6753d92bb
Successfully built ibm_db ibm_db_sa
Installing collected packages: ibm_db, typing-extensions, greenlet, sqlalchemy, ibm_db_sa
  Attempting uninstall: typing-extensions
    Found existing installation: typing_extensions 4.3.0
    Uninstalling typing_extensions-4.3.0:
      Successfully uninstalled typing_extensions-4.3.0
  Attempting uninstall: greenlet
    Found existing installation: greenlet 1.1.1
    Uninstalling greenlet-1.1.1:
      Successfully uninstalled greenlet-1.1.1
  Attempting uninstall: sqlalchemy
    Found existing installation: SQLAlchemy 1.4.39
    Uninstalling SQLAlchemy-1.4.39:
      Successfully uninstalled SQLAlchemy-1.4.39
Successfully installed greenlet-2.0.2 ibm_db-3.1.0 ibm_db_sa-0.3.3 sqlalchemy-2.0.5.post1 typing-extensions-4.5.0
Found existing installation: SQLAlchemy 2.0.5.post1
Uninstalling SQLAlchemy-2.0.5.post1:
  Successfully uninstalled SQLAlchemy-2.0.5.post1
Collecting sqlalchemy==1.3.24
  Downloading SQLAlchemy-1.3.24-cp39-cp39-win_amd64.whl (1.2 MB)
     ---------------------------------------- 1.2/1.2 MB 13.2 MB/s eta 0:00:00
Installing collected packages: sqlalchemy
Successfully installed sqlalchemy-1.3.24
Collecting ipython-sql
  Downloading ipython_sql-0.5.0-py3-none-any.whl (20 kB)
Collecting prettytable
  Downloading prettytable-3.6.0-py3-none-any.whl (27 kB)
Collecting sqlalchemy>=2.0
  Using cached SQLAlchemy-2.0.5.post1-cp39-cp39-win_amd64.whl (2.0 MB)
Requirement already satisfied: six in c:\users\bhaumik patel\anaconda3\lib\site-packages (from ipython-sql) (1.16.0)
Collecting sqlparse
  Downloading sqlparse-0.4.3-py3-none-any.whl (42 kB)
     ---------------------------------------- 42.8/42.8 kB 2.2 MB/s eta 0:00:00
Requirement already satisfied: ipython in c:\users\bhaumik patel\anaconda3\lib\site-packages (from ipython-sql) (7.31.1)
Requirement already satisfied: ipython-genutils in c:\users\bhaumik patel\anaconda3\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\bhaumik patel\anaconda3\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (2.0.2)
Requirement already satisfied: typing-extensions>=4.2.0 in c:\users\bhaumik patel\anaconda3\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (4.5.0)
Requirement already satisfied: jedi>=0.16 in c:\users\bhaumik patel\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.18.1)
Requirement already satisfied: colorama in c:\users\bhaumik patel\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.4.5)
Requirement already satisfied: pickleshare in c:\users\bhaumik patel\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.7.5)
Requirement already satisfied: pygments in c:\users\bhaumik patel\anaconda3\lib\site-packages (from ipython->ipython-sql) (2.11.2)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in c:\users\bhaumik patel\anaconda3\lib\site-packages (from ipython->ipython-sql) (3.0.20)
Requirement already satisfied: setuptools>=18.5 in c:\users\bhaumik patel\anaconda3\lib\site-packages (from ipython->ipython-sql) (63.4.1)
Requirement already satisfied: matplotlib-inline in c:\users\bhaumik patel\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.1.6)
Requirement already satisfied: backcall in c:\users\bhaumik patel\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: traitlets>=4.2 in c:\users\bhaumik patel\anaconda3\lib\site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: decorator in c:\users\bhaumik patel\anaconda3\lib\site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: wcwidth in c:\users\bhaumik patel\anaconda3\lib\site-packages (from prettytable->ipython-sql) (0.2.5)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in c:\users\bhaumik patel\anaconda3\lib\site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.3)
Installing collected packages: sqlparse, sqlalchemy, prettytable, ipython-sql
  Attempting uninstall: sqlalchemy
    Found existing installation: SQLAlchemy 1.3.24
    Uninstalling SQLAlchemy-1.3.24:
      Successfully uninstalled SQLAlchemy-1.3.24
Successfully installed ipython-sql-0.5.0 prettytable-3.6.0 sqlalchemy-2.0.5.post1 sqlparse-0.4.3

In [14]:
import csv, sqlite3

con = sqlite3.connect("ChicagoCrimeData.db")
cur = con.cursor()

In [17]:

!pip install pandas==1.1.5

Requirement already satisfied: pandas==1.1.5 in c:\users\bhaumik patel\anaconda3\lib\site-packages (1.1.5)
Requirement already satisfied: numpy>=1.15.4 in c:\users\bhaumik patel\anaconda3\lib\site-packages (from pandas==1.1.5) (1.21.5)
Requirement already satisfied: pytz>=2017.2 in c:\users\bhaumik patel\anaconda3\lib\site-packages (from pandas==1.1.5) (2022.7.1)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\bhaumik patel\anaconda3\lib\site-packages (from pandas==1.1.5) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\users\bhaumik patel\anaconda3\lib\site-packages (from python-dateutil>=2.7.3->pandas==1.1.5) (1.16.0)

In [19]:
%load_ext sql

In [20]:
%sql sqlite:///ChicagoCrimeData.db

In [22]:
import pandas
df = pandas.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoCensusData.csv")
df.to_sql("CENSUS_DATA", con, if_exists='replace', index=False,method="multi")

df = pandas.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoCrimeData.csv")
df.to_sql("CHICAGO_CRIME_DATA", con, if_exists='replace', index=False, method="multi")

df = pandas.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoPublicSchools.csv")
df.to_sql("CHICAGO_PUBLIC_SCHOOLS_DATA", con, if_exists='replace', index=False, method="multi")

In [23]:
%sql SELECT name,type,length(type) FROM PRAGMA_TABLE_INFO('CHICAGO_CRIME_DATA');

 * sqlite:///ChicagoCrimeData.db
Done.

[('ID', 'INTEGER', 7),
 ('CASE_NUMBER', 'TEXT', 4),
 ('DATE', 'TEXT', 4),
 ('BLOCK', 'TEXT', 4),
 ('IUCR', 'TEXT', 4),
 ('PRIMARY_TYPE', 'TEXT', 4),
 ('DESCRIPTION', 'TEXT', 4),
 ('LOCATION_DESCRIPTION', 'TEXT', 4),
 ('ARREST', 'INTEGER', 7),
 ('DOMESTIC', 'INTEGER', 7),
 ('BEAT', 'INTEGER', 7),
 ('DISTRICT', 'INTEGER', 7),
 ('WARD', 'REAL', 4),
 ('COMMUNITY_AREA_NUMBER', 'REAL', 4),
 ('FBICODE', 'TEXT', 4),
 ('X_COORDINATE', 'REAL', 4),
 ('Y_COORDINATE', 'REAL', 4),
 ('YEAR', 'INTEGER', 7),
 ('LATITUDE', 'REAL', 4),
 ('LONGITUDE', 'REAL', 4),
 ('LOCATION', 'TEXT', 4)]

# Problem 1: Find the total number of crimes recorded in the CRIME table.

In [25]:
%sql select count(*) from CHICAGO_CRIME_DATA

 * sqlite:///ChicagoCrimeData.db
Done.

[(533,)]

# Problem 2: List community areas with per capita income less than 11000.

In [26]:
%sql select community_area_name from CENSUS_DATA where per_capita_income < 11000

 * sqlite:///ChicagoCrimeData.db
Done.

[('West Garfield Park',),
 ('South Lawndale',),
 ('Fuller Park',),
 ('Riverdale',)]

# Problem 3: List all case numbers for crimes involving minors?

In [27]:
%sql select case_number from CHICAGO_CRIME_DATA where description like '%MINOR%'

 * sqlite:///ChicagoCrimeData.db
Done.

[('HL266884',), ('HK238408',)]

# Problem 4: List all kidnapping crimes involving a child?(children are not considered minors for the purposes of crime analysis)

In [28]:
%sql select * from CHICAGO_CRIME_DATA where primary_type like '%KIDNAP%' and description like '%CHILD%'

 * sqlite:///ChicagoCrimeData.db
Done.

[(5276766, 'HN144152', '2007-01-26', '050XX W VAN BUREN ST', '1792', 'KIDNAPPING', 'CHILD ABDUCTION/STRANGER', 'STREET', 0, 0, 1533, 15, 29.0, 25.0, '20', 1143050.0, 1897546.0, 2007, 41.87490841, -87.75024931, '(41.874908413, -87.750249307)')]

# Problem 5: What kind of crimes were recorded at schools?

In [29]:
%sql select distinct(primary_type) from CHICAGO_CRIME_DATA where location_description like 'SCHOOL%'

 * sqlite:///ChicagoCrimeData.db
Done.

[('BATTERY',),
 ('CRIMINAL DAMAGE',),
 ('NARCOTICS',),
 ('ASSAULT',),
 ('CRIMINAL TRESPASS',),
 ('PUBLIC PEACE VIOLATION',)]

# Problem 6: List the average safety score for all types of schools.

In [58]:
%%sql select 'Elementary, Middle, or High School', avg(safety_score)
from CHICAGO_PUBLIC_SCHOOLS_DATA
group by 'Elementary, Middle, or High School'

 * sqlite:///ChicagoCrimeData.db
Done.

[('Elementary, Middle, or High School', 49.50487329434698)]

# Problem 7: List 5 community areas with highest % of households below poverty line.

In [43]:
%sql select community_area_name, percent_households_below_poverty from census_data order by percent_households_below_poverty desc limit 5

 * sqlite:///ChicagoCrimeData.db
Done.

[('Riverdale', 56.5),
 ('Fuller Park', 51.2),
 ('Englewood', 46.6),
 ('North Lawndale', 43.1),
 ('East Garfield Park', 42.4)]

# Problem 8: Which community area(number) is most crime prone?

In [46]:
%sql select community_area_number, count(*) as frequency from CHICAGO_CRIME_DATA group by community_area_number order by frequency desc limit 1

 * sqlite:///ChicagoCrimeData.db
Done.

[(25.0, 43)]

# Problem 9: Use a sub-query to find the name of the community area with highest hardship index.

In [47]:
%sql select community_area_name from CENSUS_DATA where hardship_index = (Select max(hardship_index) from CENSUS_DATA)

 * sqlite:///ChicagoCrimeData.db
Done.

[('Riverdale',)]

# Problem 10: Use a sub-query to determine the Community Area Name with most number of crimes?

In [48]:
%sql select community_area_name from CENSUS_DATA where community_area_number = (select community_area_number from CHICAGO_CRIME_DATA where community_area_number = 25 limit 1)

 * sqlite:///ChicagoCrimeData.db
Done.

[('Austin',)]